web:
  extends:
    file: docker-compose.yml
    service: web
  links:
    - mongo
  ports:
    - "3000:3000"
    - "35729:35729"
  volumes:
    - .:/srv/blog
  environment:
    - NODE_ENV=development
  command: npm run dev
mongo:
  extends:
    file: docker-compose.yml
    service: mongo
  volumes:
    - ./data:/data
