@body-bg:	#cacaca;
@content-bg: #fafafa;

body, html, #app , #main{
	height: 100%;
	background: @body-bg;
}
#app {
	color: #555;
}
#main {
	min-height: 100vh;
}
#header {
	margin-left: 0.1em;
	ul {
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
		margin: 0;
		padding: 0;
		background: @body-bg;
		li.pure-menu-selected{
			a {
				background: #663399;
			}
		}
		li {
			a {
				background: #555;
				border-top-left-radius: 1em;
				border-top-right-radius: 1em;
			}
			a:hover {
				background: #000;
			}
		}
	}
}
#layout {
	margin-left: 1em;
}
.content {
	background: @content-bg;
	border-radius: 0.2em;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	max-width: 50em;
	min-height: 10em;
	h1, h2, h3, h4 {
		color: #222;
	}
	h1 {
		margin-bottom: 0.3em;
	}
	.date {
		font-size: 1em;
		color: #aaa;
		font-style: Georgia, serif;
		margin-bottom: 1em;
	}

	p, span {
		font-family: sans-serif;
	}
	.block {
		padding: 2em 0;
		border-bottom: 1px solid #aaa;
	}
}
#sidebar {
	background: @body-bg;
	position: fixed;
	top: 0;
	height: 100%;
	color: #222;
	.egobox {
		margin: 1em;
	}
	.side-container {
		margin: 80% 0;
	}

	ul {
		border: none;
		list-style: none;
		padding: 0;
		margin: 0;
	}
}