@body-bg:	#f7f3ee;
@content-bg: #fafafa;
@border-color: #bbb;
@text-color: #222;
@link-color: #222;


body, html, #app , #main{
	height: 100%;
	background: @body-bg;
	color: @text-color;
}
a {
	color: @link-color;
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
	color: #663399;
}
#app {
}
#main {
	min-height: 100vh;
}
#main-wrapper {
	margin-top: 1.5em;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 5em);
}
#header {
	height: 0;
	overflow: visible;
    margin-left: 0.1em;
    padding-right: 6px;
	position: relative;
    top: 1.3em;
    left: -0.5em;
	ul {
		background: url("/static/header-shadow.png") no-repeat scroll bottom 0px left 0 transparent;
		margin: 0;
		padding: 0 0 3px;
		li.pure-menu-selected{
			a {
				background: #b200d3;
				border-top: 1px solid #e76df0;
				border-bottom: 1px solid #663399;
			}
		}
		li:first-child {
		    border-left: 1px solid #a7a7a7;
		    border-radius: 2px;
		}
		li:last-child {
			background: url("/static/header-edge.png") repeat-y scroll right 0 top -1px rgba(0, 0, 0, 0);
			padding-right: 0.5em;
		}
		li {
			a {
				background: #d4d4d4;
				color: #eee;
				padding: 14px;
				border-top: 1px solid #e6e6e6;
				border-bottom: 1px solid #c5c5c5;
			}
			a:hover {
				background: #000;
			}
		}
	}
}
#layout {
	margin-left: 0 1em 0 1em;
}
.content {
	h1, h2, h3, h4 {
		color: #222;
	}
	h1 {
		margin-bottom: 0.3em;
		a {
			color: #222;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	time {
		font-size: 1em;
		color: #aaa;
		font-style: Georgia, serif;
		margin-bottom: 1em;
		display: block;
	}

	p, span {
		font-family: sans-serif;
	}
	article {
		margin-bottom: 3em;
	}
	section.share {
		padding: 1em 0;
		border-top: 1px solid #bbb;
		* {
			margin-right: 1em;
		}
		.twitter-share {
			width: 59px;
			height: 20px;
		}
		.hn-share {
			width: 75px;
			height: 19px;
		}
		.fb-share {
			border: medium none;
			visibility: visible;
			width: 96px;
			height: 20px;
		}
	}
	.page {
		background: @content-bg;
		border-radius: 0.2em;
		border: 1px solid @border-color;
		padding: 1em 2em;
		min-height: 10em;
		margin: 0 0 2em;
		border-bottom: 1px solid #aaa;

	}
}
@media screen and (min-width: 48em) {
	#sidebar {
		border-width: 0 0 0 1px !important;
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		/* min-width: 16.6em; */
		.side-container {
			margin: 80% 0;
		}
		.description {
			padding-top: 0 !important;
		}
	}
}
#sidebar {
	background: @content-bg;
	border: 1px solid @border-color;
	box-sizing: border-box;
	.description {
		display: block;
		padding-bottom: 3em;
		padding-top: 6em;
	}
	.social {
		position: relative;
		bottom: 1em;
		> * {
			margin-right: 1em;
		}
		.feed-link img {
			width: 20px;
			height: 20px;
		}
		.github {
			border: 0 none;
			height: 20px;
			width: 83px;
		}
		.twitter {
			width: 78px;
			height: 20px;
			border: 0 none;
		}
		.linkedin span {
			background: url(https://static.licdn.com/scds/common/u/images/apps/connect/sprites/sprite_connect_v14.png) -49px -39px no-repeat;
			display: inline-block;
			height: 20px;
			text-decoration: none;
			width: 20px;
		}
		.linkedin:hover span {
			background: url(https://static.licdn.com/scds/common/u/images/apps/connect/sprites/sprite_connect_v14.png) -29px -39px no-repeat;
		}
	}
	.egobox {
		margin: 1em;
	}
}