@body-bg:	#f7f3ee;
@content-bg: #fafafa;
@border-color: #bbb;


body, html, #app , #main{
	height: 100%;
	background: @body-bg;
}
#app {
	color: #555;
}
#main {
	min-height: 100vh;
	margin-left: 1em;
}
#main-wrapper {
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}
#header {
	margin-left: 0.1em;
	ul {
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
		margin: 0;
		padding: 0;
		background: @body-bg;
		li.pure-menu-selected{
			a {
				background: #663399;
			}
		}
		li {
			a {
				background: #555;
				border-left: 1px solid #222;
				border-top: 1px solid #222;
				border-top-left-radius: 0.6em;
				border-top-right-radius: 0.6em;
			}
			a:hover {
				background: #000;
			}
		}
	}
}
#layout {
}
.content {
	background: @content-bg;
	border-radius: 0.2em;
	border: 1px solid @border-color;
	padding: 1em;
	min-height: 10em;
	h1, h2, h3, h4 {
		color: #222;
	}
	h1 {
		margin-bottom: 0.3em;
		a {
			color: #222;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	time {
		font-size: 1em;
		color: #aaa;
		font-style: Georgia, serif;
		margin-bottom: 1em;
		display: block;
	}

	p, span {
		font-family: sans-serif;
	}
	article {
		padding: 0 0 2em;
		margin: 0 0 2em;
		border-bottom: 1px solid #aaa;
	}
}
#sidebar {
	background: @content-bg;
	border-left: 1px solid @border-color;
	position: fixed;
	top: 0;
	height: 100%;
	color: #222;
	.egobox {
		margin: 1em;
	}
	.side-container {
		margin: 80% 0;
	}

	ul {
		border: none;
		list-style: none;
		padding: 0;
		margin: 0;
	}
}